.circleBg {
  position: absolute;
  width: 275px;
  height: 280px;
  top: -35px;
  left: 60px;
  background: linear-gradient(85.65deg, #EBEFFF 3.89%, #FFFFFF 59.07%);
  border-radius: 50%;
}

.sentenceContent {
  position: relative;
  z-index: 1;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #6B6363;
  margin-top: 10px;
  margin-right: 20px;
  width: 233px;
}